/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #7BB0FE;
  background-image: url(../img/acnh-bg.jpg);
  background-size: max-height, max-width;
  background-repeat: repeat;
}

ol, ul {
	list-style: none;
}

p {
  color: white;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  cursor: url('../img/sarahcursor.png'), auto; 
}

img:hover {
 cursor: url('../img/sarahcursor-dk.png'), auto;
}

.hidden {
  opacity:0;
}

.content-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  max-height: 500px;
}

.nbutton {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  color: transparent;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-image: url(../img/nextbutton.png);
  background-repeat: no-repeat;
}

.pbutton {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  color: transparent;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-image: url(../img/prevbutton.png);
  background-repeat: no-repeat;
}

.console-container {
 
  font-family:'Arial', serif;
  font-size:1em;
  text-align:center;
  vertical-align: center;
  height:200px;
  width:800px;
  display:block;
  position:absolute;
  color:white;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

#container{
    position: absolute;
    margin:auto;
   background-color: transparent;
   padding: 70px;
}

